
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-image: url(./Hire\ The\ Best\ Software\ Development\ Solution\ For\ Your\ Business.jfif);
     background:linear-gradient(rgb(159, 159, 219),rgb(43, 51, 158));
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: background-color 0.5s;
    
}

.navbar a {
    
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    animation: liquidAnimation 2s infinite alternate;
}
@keyframes liquidAnimation {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1.5);
    }
}
.navbar .logo {
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
    float: left;
    color: #fff;
    animation: rotateLogo 5s infinite linear; /* 3D rotation animation */
    transform-style: preserve-3d;
}
@keyframes rotateLogo {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar .dropdown {
    display: inline-block;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar .dropdown-menu li {
    float: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-menu li a {
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    display: block;
}

.navbar .dropdown-menu li a:hover {
    background-color: #ddd;
    color: black;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .navbar a {
        float: none;
        display: none;
        text-align: left;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar .dropdown {
        display: block;
    }

    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        animation: fadeIn 0.5s ease-in-out;
    }

    .navbar .dropdown-menu {
        position: relative;
    }
}

/* intro section */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
   
    color: #fff;
}

.intro-section { 
    background:linear-gradient(rgb(132, 132, 177),black);
    background-image: url(./Hire\ The\ Best\ Software\ Development\ Solution\ For\ Your\ Business.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.intro-section h1 {
    flex: 1;
    font-size: 5em;
    font-weight: 1000;
    margin: 0;
    padding: 20px;
    background-image: url(./download\ \(1\).jfif);
    background-size: 200% 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 8px 4px 8px rgba(97, 77, 170, 0.8);
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.intro-section p {
    font-size: 1.5em;
    font-weight: 200;
    margin: 20px 0;
    color: black;
}

.intro-section .fa {
    font-size: 2em;
    margin: 0 10px;
}

.btn-know-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #e6e6e6;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 4px 4px 8px rgba(97, 77, 170, 0.8);
}

.btn-know-more:hover {
    background-color: #6068df;
    color: white;
}

@media screen and (max-width: 768px) {
    .intro-section h1 {
        font-size: 3em;
        overflow: hidden;
    }
    body
    {
        flex-direction: column;
    }
}

/* about */
.organization-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.organization-section div {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-image:url(./Find\ the\ best\ global\ talent_.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.organization-section div:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #ffffff;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
    .organization-section div {
        flex: 1 0 40%;
    }
}

@media screen and (max-width: 768px) {
    .organization-section div {
        flex: 1 0 90%;
    }
}


/* department */


        .department-section {
            text-align: center;
            padding: 50px 20px;
            background-image: url(./Hire\ The\ Best\ Software\ Development\ Solution\ For\ Your\ Business.jfif);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .department {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-top: 30px;
        }

        .department-item {
            flex: 1;
            max-width: 300px;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        .department-item:hover {
            transform: scale(1.05);
        }

        .department-item img {
            max-width: 100%;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        .department-name {
            font-size: 1.5em;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        .department-head {
            font-size: 1.2em;
            color: #555;
            margin-bottom: 15px;
        }

        .department-description {
            font-size: 1.2em;
            color: #777;
        }
        .quote-section {
            margin-top: 50px;
            background-color: #6068df;
        }

        .quote {
            font-size: 1.5em;
            margin: 20px;
            padding: 20px;
            background-color: #000000;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: fadeIn 1s ease-in-out;
        }

        .quote i {
            font-size: 2em;
            margin-right: 10px;
            color: #9cb3b1;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @media screen and (max-width: 1024px) {
            .department-item {
                flex: 1 0 48%;
            }
        }
    
        @media screen and (max-width: 768px) {
            .department-item {
                flex: 1 0 100%;}
        }

        .clients-section {
            text-align: center;
            padding: 50px 20px;
            background-color: #080808;
            box-shadow: 0 0 20px rgba(196, 159, 159, 0.1);
            border: solid 2px  #e9d8d8;
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .clients-section h2{
            text-decoration: overline;
            text-shadow: 3px 3px 3px blue;
            font-size: 4rem;
        }

        .clients-details {
            margin-top: 30px;
            text-align: left;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .animated-paragraph {
            opacity: 1;
            transform: translateY(20px);
            animation: fadeInUp 1s ease-in-out, slideUp 1s ease-in-out;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes slideUp {
            from {
                transform: translateY(20px);
            }
            to {
                transform: translateY(0);
            }
        }

        .image-wrapped {
            float: left;
            margin: 10px;
           
        }               
        
        .image-wrapped img{
            height: 150px;
        }

        /* contact */

        .contact-section {
            background-color: #1d1919;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            padding: 50px 0;
            border: 6px solid blue;
        }
        .container h2{
            font-size: 3rem;
            text-decoration: overline;
        }
        .contact-details {
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
        }
        
        .contact-method {
            text-align: center;
        }
        
        .contact-method i {
            font-size: 24px;
            margin-bottom: 10px;
        }
        
        .contact-form {
            margin-top: 30px;
        }
        
        form {
            display: flex;
            flex-direction: row;
        }
        
        form label {
            margin-right: 10px;
        }
        
        form input,
        form textarea {
            padding: 10px;
            margin-bottom: 5px;
        }
        
        form button {
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        @media screen and (max-width: 1024px) {
            .contact-details {
                flex-direction: column;
            }
         form {
                flex-direction: column;}
        }
 /* footer */
 .container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

 }
 footer {
    background-color: #333;
    color: #af7676;
    padding: 30px 0;
     background-image: url(./Find\ the\ best\ global\ talent_.jfif);
    background-size: cover;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
   
}

.footer-section-contact{
    flex: 1;
    margin-bottom: 50px; /* Add some space between sections */
}

.footer-section h3 {
    color: #fff;
    margin-right: 20px;
}

.footer-section p {
    color: #ccc;
}

.links ul li{
    list-style: none;
    padding: 0;
    margin-right: 70px;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 15px;
    color: #ccc;
    font-size: 24px;
}

.social-icons i {
    transition: color 0.3s ease;
}

.social-icons a:hover i {
    color: #fff;
}

/* Media query for screens with a max-width of 650px */
@media (max-width: 650px) {
    .footer-section {
        flex-basis: 100%; /* Take up the full width on smaller screens */
    }

    .social-icons a {
        margin-right: 10px;
    }
}